@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --font-h1: 800 56px/66px 'Montserrat', sans-serif;
    --font-h2: 800 34px/46px 'Montserrat', sans-serif;
    --font-h3: 800 22px/30px 'Montserrat', sans-serif;
    --font-body1: 400 18px/26px 'Montserrat', sans-serif;
    --font-body1-italic: italic 300 18px/26px 'Montserrat', sans-serif;
    --font-body2: 400 14px/20px 'Montserrat', sans-serif;
    --font-body2-ubuntu: 400 14px/20px 'Ubuntu', sans-serif;

    @media (max-width: 800px) {
        --font-h1: 800 37px/44px 'Montserrat', sans-serif;
        --font-h2: 800 23px/30.67px 'Montserrat', sans-serif;
        --font-h3: 800 15px/20px 'Montserrat', sans-serif;
        --font-body1: 400 14px/20px 'Montserrat', sans-serif;
        --font-body1-italic: italic 200 14px/20px 'Montserrat', sans-serif;
        --font-body2: 400 10px/14px 'Montserrat', sans-serif;
        --font-body2-ubuntu: 400 10px/14px 'Ubuntu', sans-serif;
    }
}